
body, div, span, p {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    font-size: 15px;
}

table {
    font-size: inherit;
}

h1 {
    font-size: 1.8em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
}

h2.results-heading {
    margin-bottom: 0.5em
}

h2 a.result-link {
    text-decoration-line: none;
    text-decoration-style: solid
}

a {
    color: rgb(0, 119, 204);
    text-decoration-color: rgb(0, 119, 204);
}

p, span, div {
    font-weight: 400;
}

div.result p {
    font-size: 1em;
}

div.header, div.result {
    background: white;
    border-bottom: 2px solid #eff0f1;
}

div.result {
    padding-bottom: 1em;
}

img.logo {
    width: 15em;
}

td.logo-td {
    width: 16em;
}

input.searchbar {
    border-color: #bbc0c4;
    background-color: #FFF;
    box-shadow: none;
    color: #3b4045;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.15384615;
}

td.header-links {
    text-align: right;
    padding-right: 2em;
}

td.header-links input {
    padding: 0.3em 0.5em;
}

div#content {
    padding: 0em 2em;
}

table.data-table td {
    border-bottom: 1px solid #eff0f1;
}

table.data-table th {
    border-bottom: 2px solid #f1b301;
}

table.data-table th, table.data-table td {
    margin: 0;
    padding: 0.2em 0.4em;
    text-align: left;
}

.content-start-spacer {
    margin-top: 1em;
}

.score {
    color: #6a737c !important;
    font-size: 1.6em;
    border: 1px solid #bbc0c4;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

div.fav-count {
    color: rgb(187, 192, 196);
    text-align: center;
}

div.question {
    border-bottom: 1px solid #eff0f1;
    border-top: 1px solid #eff0f1;
    padding-top: 1em;
    overflow: auto;
    margin-bottom: 1.5em;
}

div.post-body p {
    margin-bottom: 15px;
}

.score-details {
    text-align: center;
    vertical-align: top;
    width: 5em;
}

.star, .tick {
    margin-top: 0.5em;
}


.post-details {
    font-size: 14px;
    color: rgb(132, 141, 149);
    text-decoration: none;
    font-size: 14px;
    overflow: auto;
}

.post-details a {
    text-decoration: none;
}

.answer {
    border-bottom: 1px solid rgb(228, 230, 232);
    padding-bottom: 1em;
}

span.tag {
    padding: 0.4em 0.5em;
    margin: 2px 5px 2px 0px;
    background-color: rgb(225, 236, 244);
    border-color: rgb(225, 236, 244);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    color: rgb(57, 115, 157);
    font-size: 12px;
}

.tags {
    margin-right: 3em;
}

.online-link {
    margin-right: 3em;
}

.last-activity {
    margin-right: 3em;
}

.user-details {
    padding: 0.4em 0.5em;
    color: rgb(57, 115, 157);
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    float: right;
}

.question .user-details {
    background-color: rgb(225, 236, 244);
    border-color: rgb(225, 236, 244);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.user-details .display-name {
    font-size: 15px;
}

.user-details .reputation {
    color: rgb(106, 115, 124);
    font-weight: bold;
    font-size: 13px;
}

.user-details .asked {
    color: rgb(106, 115, 124);
    font-size: 12px;
}

.user-details div {
    text-align: left;
    padding: 0.1em 0.1em;
    margin: 0.2em 0.1em;
}

table.post {
    width: 100%;
}

table.comments {
    border-top: 1px solid #eff0f1;
    margin-top: 1em;
}

table.comments td {
    border-bottom: 1px solid #eff0f1;
    vertical-align: top;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    padding: 0.3em;
}

td.comment-score {
    right-padding: 1em;
    color: rgb(145, 153, 161);
}

.comment .comment-user {
    color: rgb(57, 115, 157);
}

.comment .comment-datetime {
    color: rgb(132, 141, 149);
}

hr {
    border-top: 0px;
    border-bottom: 1px solid #eff0f1;
}

blockquote {
    background-color: rgb(255, 248, 220);
    border-left: 2px solid rgb(255, 235, 142);
    padding: 10px;
    margin-bottom: 10px;
    vertical-align: baseline;
}